<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AvatarService">
    <select id='getAvatarInventory' resultType='AvatarInventoryDTO' parameterType='String'>
        SELECT 
            ai.ITEM_INDEX,
            ai.ITEM_NAME,
            ai.ITEM_DESC,
            aic.ITEM_CATEGORY_NAME,
            aph.PAYMENT_DATE,
            uai.ITEM_USAGE_STATUS
        FROM
            USER_INFO_TB ui
        JOIN 
            AVATAR_PAYMENT_HISTORY_TB aph ON ui.USER_INDEX = aph.USER_INDEX
        JOIN 
            AVATAR_ITEM_TB ai ON aph.ITEM_INDEX = ai.ITEM_INDEX
        JOIN 
            AVATAR_ITEM_CATEGORY_TB aic ON ai.ITEM_CATEGORY_ID = aic.ITEM_CATEGORY_ID
        LEFT JOIN 
            USER_AVATAR_INVENTORY_TB uai ON ui.USER_INDEX = uai.USER_INDEX AND ai.ITEM_INDEX = uai.ITEM_INDEX
        WHERE 
            ui.USER_ID = #{userId};
    </select>

    <select id='getAvatarCategoryInventory' resultType='AvatarInventoryDTO' parameterType='CategoryInventoryDTO'>
        SELECT 
            ai.ITEM_INDEX,
            ai.ITEM_NAME,
            ai.ITEM_DESC,
            aic.ITEM_CATEGORY_NAME,
            aph.PAYMENT_DATE,
            uai.ITEM_USAGE_STATUS
        FROM
            USER_INFO_TB ui
        JOIN 
            AVATAR_PAYMENT_HISTORY_TB aph ON ui.USER_INDEX = aph.USER_INDEX
        JOIN 
            AVATAR_ITEM_TB ai ON aph.ITEM_INDEX = ai.ITEM_INDEX
        JOIN 
            AVATAR_ITEM_CATEGORY_TB aic ON ai.ITEM_CATEGORY_ID = aic.ITEM_CATEGORY_ID
        LEFT JOIN 
            USER_AVATAR_INVENTORY_TB uai ON ui.USER_INDEX = uai.USER_INDEX AND ai.ITEM_INDEX = uai.ITEM_INDEX
        WHERE 
            ui.USER_ID = #{userId}
        AND 
            aic.ITEM_CATEGORY_NAME = #{itemCategoryName};
    </select>

    <select id='getAvatarCategory' resultType='java.lang.String'>
        SELECT 
            ITEM_CATEGORY_NAME
        FROM
            AVATAR_ITEM_CATEGORY_TB
        ORDER BY
            ITEM_CATEGORY_ID ASC;
    </select>

    <select id='getAvatarSearchInventory' resultType='AvatarInventoryDTO' parameterType='InventorySearchDTO'>
        SELECT 
            ai.ITEM_INDEX,
            ai.ITEM_NAME,
            ai.ITEM_DESC,
            aic.ITEM_CATEGORY_NAME,
            aph.PAYMENT_DATE,
            uai.ITEM_USAGE_STATUS
        FROM
            USER_INFO_TB ui
        JOIN 
            AVATAR_PAYMENT_HISTORY_TB aph ON ui.USER_INDEX = aph.USER_INDEX
        JOIN 
            AVATAR_ITEM_TB ai ON aph.ITEM_INDEX = ai.ITEM_INDEX
        JOIN 
            AVATAR_ITEM_CATEGORY_TB aic ON ai.ITEM_CATEGORY_ID = aic.ITEM_CATEGORY_ID
        LEFT JOIN 
            USER_AVATAR_INVENTORY_TB uai ON ui.USER_INDEX = uai.USER_INDEX AND ai.ITEM_INDEX = uai.ITEM_INDEX
        WHERE
            ai.ITEM_NAME LIKE CONCAT('%', #{searchValue} , '%');
    </select>
</mapper>

