<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EventService">
    <select id="getExpToLevel" resultType="ExpToLevelModel">
        SELECT * FROM GAME_LEVEL_EXPERIENCE_TB;
    </select>
    <select id="getColumnName" resultType="DatabaseColumnNameModel">
    SELECT 
        TABLE_NAME AS TABLE_NAME, 
        GROUP_CONCAT(COLUMN_COMMENT) AS COLUMN_NAME
    FROM 
        INFORMATION_SCHEMA.COLUMNS
    WHERE 
        TABLE_SCHEMA = 'quantum' AND 
        TABLE_NAME NOT LIKE '%_LOG'
    GROUP BY 
        TABLE_NAME
    </select>
</mapper>
