<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GameService">
    <select id="getGameSearchList" resultType="map">
        <!-- 파라미터(시작인덱스,끝인덱스,게임가격,게임이름,카테고리) -->
        <!-- 게임이름은 '' 비어있으면 모든 게임을 출력 -->
        <!-- 카테고리는 '' 비어있으면 모든 카테고리를 출력 -->
        <!-- 카테고리는 'test1'과 같이 하나만 입력 가능 -->
        <!-- 카테고리는 'test1,test2,test3'과 같이 여러개 입력 가능 -->
        CALL GetMainPageGameInfo(#{startIndex}, #{endIndex}, #{gamePrice}, #{gameName}, #{gameCategoryName})
    </select>
    <select id="getGameInfo" resultType="GameDTO" parameterType="int">
        <!-- Mayone의 솜씨를 기다립니다 -->
    </select>
</mapper>