<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserService">
    <select id="getUserListAll" resultType="UserVO">
        select *
        from userInfo
    </select>
    <select id="getUserExist" resultType="int" parameterType="UserDTO">
        select user_idx
        from userInfo
        where user_id = #{userID} and user_pw = #{userPW}
    </select>
    <select id="getUserInfo" resultType="UserInfoResponseDTO" parameterType="int">
        select user_id,user_nickname,user_name,user_birth,user_address,user_address_detail,user_gender,user_postal,user_email,user_role,user_cash,user_status,user_gender
        from userInfo, userStatus
        where userInfo.user_idx = #{userIdx} and userStatus.user_idx = #{userIdx}
    </select>
    <select id="getLoginInfo" resultType="LoginResponseDTO" parameterType="int">
        select user_nickname,STATUS_UPDATED_AT, user_cash, user_free_cash
        from USER_INFO_TB ui, USER_STATUS_TB us
        where ui.user_idx = #{userIdx} and us.user_idx = #{userIdx}
    </select>
    <select id="selectCountById" resultType="int">
        SELECT user_idx
        FROM userInfo
        WHERE user_id = #{userID}
    </select>
    <select id="selectCountByNickname" resultType="int">
        SELECT user_idx
        FROM userInfo
        WHERE user_nickname = #{userNickname}
    </select>
    <select id="selectCountByEmail" resultType="int">
        SELECT user_idx
        FROM userInfo
        WHERE user_email = #{userEmail}
    </select>
    <insert id="setUser" parameterType="UserVO">
        insert into userInfo(user_id,user_pw,user_nickname,user_name,user_birth,user_address,user_address_detail,user_gender,user_postal,user_email,user_role) values(#{userID},#{userPW},#{userNickname},#{userName},#{userBirth},#{userAddress},#{userAddressDetail},#{userGender},#{userPostal},#{userEmail},#{userRole})
    </insert>
    <delete id="deleteUser" parameterType="int">
        delete from userInfo
        where user_idx = #{userIdx}
    </delete>
    <update id="updateUser" parameterType="UserVO">
        update userInfo
        set user_pw = #{userPW},
            user_nickname = #{userNickname},
            user_name = #{userName},
            user_birth = #{userBirth},
            user_address = #{userAddress},
            user_address_detail = #{userAddressDetail},
            user_gender = #{userGender},
            user_postal = #{userPostal},
            user_email = #{userEmail},
            user_role = #{userRole}
        where user_id = #{userID}
    </update>
    <select id="findId" parameterType="UserDTO" resultType="String">
        select user_id
        from userInfo
        where user_name = #{userName} and user_email = #{userEmail}
    </select>
    <select id="findPw" parameterType="UserDTO" resultType="int">
        select user_idx
        from userInfo
        where user_id = #{userID} and user_name = #{userName} and user_email = #{userEmail}
    </select>
    <update id="changePw" parameterType="UserDTO">
        update userInfo
        set user_pw = #{userPW}
        where user_id = #{userID} and user_name = #{userName} and user_email = #{userEmail}
    </update>
</mapper>
