.avatar-img-container {
    width: 25% !important;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px; /* 이미지 간격 조절 */
  }
  
  .avatar-img-container div {
    margin: 0 10px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 30px;
    border : 1px solid #303030;
    overflow: hidden; /* 테두리 내에서만 내용 보이도록 설정 */
  }
  @media (max-width: 768px) {
    .avatar-img-container {
      width: 100% !important;
      margin: 0 10px;
      height: auto;
      margin-bottom: 40px;
      border-radius: 30px;
      border : 1px solid #303030;
      overflow: hidden; /* 테두리 내에서만 내용 보이도록 설정 */
      padding:0px !important;
    }
  }

  @media (max-width: 768px){
    .avatar-img-container div {
      margin: 0;
      height: auto;
      margin-bottom: 0px;
      border-radius: 30px;
      border : 1px solid #303030;
      overflow: hidden; /* 테두리 내에서만 내용 보이도록 설정 */
    }
  }

  .avatar-img-container div div {
    width: 100%;
    border-radius: 0%;
    border: none;
  }